server:  
  port: 8086  

spring:  
  application:  
    name: notification-service

  datasource:  
    url: jdbc:mysql://mysql_docker:3306/e-commerce
    username: root
    password: 41567HOLA
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:  
    hibernate:  
      ddl-auto: update  
    show-sql: true  

  mail:  
    host: smtp.gmail.com  
    port: 587  
    username: 
    password: 
    properties:  
      mail:  
        smtp:  
          auth: true  
          starttls:  
            enable: true

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: notification-service-group-v2
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.value.default.type: com.notification_service_api.dto.PaymentNotificationMessage

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-service:8761/eureka/

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
  show-actuator: false