server:  
  port: 8761
spring:  
  application:  
    name: eureka-service  
eureka:  
  instance:  
    hostname: eureka-service  
  client:  
    register-with-eureka: false  
    fetch-registry: false  
    service-url:
      defaultZone: http://eureka-service:8761/eureka/